body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    padding: 80px 208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up {
    width: 75px;
    border-radius: 6px;
    padding: 4px;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-self: center;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.info {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.info .text {
    font-size: 36px;
    color: #1f2937;
}

.info li {
    flex-basis: 100px;
    margin-left: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quote {
    background-color: #e5e7eb;
    align-self: stretch;
    margin-top: 90px;
    padding: 138px 0px;
}

.quote .text {
    font-weight: 300;
    width: 830px;
    margin: 0 auto;
}

.quote .thor {
    font-weight: 600;
    text-align: right;
}

.action {
    align-self: center;
    background-color: #3882f6;
    padding: 32px 64px;
    margin: 96px 0;
    display: flex;
    gap: 96px;
}

.action .text {
    display: flex;
    flex-direction: column;
}

.action .main {
    font-size: 24px;
}

.action .secondary {
    font-size: 16px;
}

.action button {
    background-color: #3882f6;
    color: #f9faf8;
    align-self: center;
    border: 2px solid #f9faf8;
}

.footer {
    background-color: #1f2936;
    color: #f9faf8;
    text-align: center;
    padding: 48px 0;
}
