body {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
